.*
!.gitignore
*~
*.orig
*.log
*.run
*.tgz
*.xz
*.pkg
*.bak
*/src/
*/pkg/
wine-tkg-git/wine-staging-git/
wine-tkg-git/wine-git/
wine-tkg-git/wine-mirror-git/
wine-tkg-git/dxvk/
wine-tkg-git/d9vk/
winetricks-tkg-git/winetricks/
mingw/mingw-w64-*/
mingw/cloog/
mingw/isl/
mingw/osl/
gst-libav/gst-libav/
faudio-git/FAudio/
spirv-tools-git/SPIRV-Headers/
spirv-tools-git/SPIRV-Tools/
vkd3d-git/vkd3d/
proton-tkg/Proton/
proton-tkg/liberation-fonts/
proton-tkg/proton_template/share/fonts/
proton-tkg/dxvk/
proton-tkg/d9vk/
dxvk-tools/D9VKBUILD/master/
dxvk-tools/DXVKBUILD/master/
vulkan-headers-git/vulkan-headers-git/
