.*
!.gitignore
*~
*.orig
*.log
*.run
*.tgz
*.xz
*.pkg
*.bak
*/src/
*/pkg/
wine-tkg-git/wine-staging-git/
wine-tkg-git/wine-git/
wine-tkg-git/dxvk/
wine-tkg-git/dxup/
wine-tkg-git/d9vk/
spirv-tools-git/SPIRV-Headers/
spirv-tools-git/SPIRV-Tools/
vkd3d-git/vkd3d/
proton-tkg/Proton/
proton-tkg/liberation-fonts/
proton-tkg/proton_template/share/
proton-tkg/dxvk/
