[submodule "community-patches"]
	path = community-patches
	url = https://github.com/Frogging-Family/community-patches.git
[submodule "mesa-git"]
	path = mesa-git
	url = https://github.com/Frogging-Family/mesa-git.git
[submodule "llvm-git"]
	path = llvm-git
	url = https://github.com/Frogging-Family/llvm-git.git
[submodule "dxvk-tools"]
	path = dxvk-tools
	url = https://github.com/Frogging-Family/dxvk-tools.git
[submodule "spirv-tools-git"]
	path = spirv-tools-git
	url = https://github.com/Frogging-Family/spirv-tools-git.git
[submodule "vulkan-icd-loader-git"]
	path = vulkan-icd-loader-git
	url = https://github.com/Frogging-Family/vulkan-icd-loader-git.git
[submodule "vulkan-headers-git"]
	path = vulkan-headers-git
	url = https://github.com/Frogging-Family/vulkan-headers-git.git
[submodule "vkd3d-git"]
	path = vkd3d-git
	url = https://github.com/Frogging-Family/vkd3d-git.git
[submodule "gamescope-git"]
	path = gamescope-git
	url = https://github.com/Frogging-Family/gamescope-git.git
[submodule "nvidia-all"]
	path = nvidia-all
	url = https://github.com/Frogging-Family/nvidia-all.git
[submodule "mostlyportable-gcc"]
	path = mostlyportable-gcc
	url = https://github.com/Frogging-Family/mostlyportable-gcc.git
[submodule "mingw-on-arch-automator"]
	path = mingw-on-arch-automator
	url = https://github.com/Frogging-Family/mingw-on-arch-automator.git
[submodule "linux-tkg"]
	path = linux-tkg
	url = https://github.com/Frogging-Family/linux-tkg.git
[submodule "faudio-git"]
	path = faudio-git
	url = https://github.com/Frogging-Family/faudio-git.git
[submodule "amdgpu-pro-vulkan-only"]
	path = amdgpu-pro-vulkan-only
	url = https://github.com/Frogging-Family/amdgpu-pro-vulkan-only.git
[submodule "wine-tkg-git"]
	path = wine-tkg-git
	url = https://github.com/Frogging-Family/wine-tkg-git.git
[submodule "gst-libav"]
	path = gst-libav
	url = https://github.com/Frogging-Family/gst-libav.git
