# mesa-git-tkg config file


#### OPTIONS ####

# External config file to use - If the given file exists in path, it will override default config (customization.cfg) - Default is ~/.config/frogminer/mesa-git.cfg
_EXT_CONFIG_PATH=~/.config/frogminer/mesa-git.cfg

# Uncomment the MESA_WHICH_LLVM variable below to select which llvm package tree to use by default to build mesa-git against.
# Note that if you're used to have that variable set in ~/.bashrc, you can leave it commented out here. It'll be respected by the PKGBUILD.
# Else, you'll get prompted about it at build time.
#
# 1: llvm-minimal-git (AUR)
# 2: llvm-git (AUR)
# 3: llvm-git from LordHeavy unofficial repo 
# 4  llvm (stable from extra) Default value
MESA_WHICH_LLVM=4

# Enable lib32
_lib32=true

# Use local glesv2.pc - This is provided by libglvnd as of ab9b5fcc3bf90064418f6915cf4259fa11ffe64b
_localglesv2pc=false

# Use local egl.pc - This is provided by libglvnd as of ab9b5fcc3bf90064418f6915cf4259fa11ffe64b
_localeglpc=false

# Which dri drivers to include in the build - Default is "i915,i965,r100,r200,nouveau"
_dri_drivers="i915,i965,r100,r200,nouveau"

# Which gallium drivers to include in the build - Default is "r300,r600,radeonsi,nouveau,svga,swrast,swr,virgl,iris,zink"
_gallium_drivers="r300,r600,radeonsi,nouveau,svga,swrast,swr,virgl,iris,zink"

# Which vulkan drivers to include in the build - Default is "amd,intel"
_vulkan_drivers="amd,intel"

# Custom optimization flags - optional
#_custom_opt_flags="-march=native -O3 -fno-tree-vectorize"

# Disable `-D b_lto=true` that Arch-meson passes by default - Set to "false" to enable LTO
_no_lto="true"


# custom mesa commit to pass to git
_mesa_commit=""

# Use pending mesa merge requests directly as userpatches with their PR id, separated by space (example: "2421 3151 3273")
# https://gitlab.freedesktop.org/mesa/mesa/merge_requests
_mesa_prs=""


#### USER PATCHES ####

# community patches - add patches (separated by a space) of your choice by name from the community-patches dir
# example: _community_patches="intel_haswell_vk_workaround.mymesarevert VK_JOSH_depth_bias_info_header.mymesapatch VK_JOSH_depth_bias_info_radv.mymesapatch"
_community_patches=""

# You can use your own patches by putting them in the same folder as the PKGBUILD and giving them the .mymesapatch extension.
# You can also revert patches by putting them in the same folder as the PKGBUILD and giving them the .mymesarevert extension.

# Also, userpatches variable below must be set to true for the above to work.
_user_patches="true"

# Apply all user patches without confirmation - !!! NOT RECOMMENDED !!!
_user_patches_no_confirm="false"
