# DXVK branch to use
DXVK_BRANCH=master

# Set to 1 to enable custom commit checkout
CUSTOM_COMMIT=0

# targeted custom commit
DXVK_COMMIT=

# Git pull (Sync) with clean source before building
DXVK_AUTOUPDATE=1

# Enables auto-application of all patches present in ./DXVKBUILD/patches - It WILL make your tree dirty if any patch is applied
PATCHIN=1

# 0: Clear source dir only if marked as dirty from patching
# 1: Always clear source dir and redownload from git (default)
# 2: Always ignore source dir removal even if dirty
DIRTYIN=1

# Path to the root folder containing your wine prefixes for batch installing/updating
PREFIXES_ROOT="$HOME"/wineprefixes

# Custom compiler root dirs - Leave empty to use system compilers
# Example: CUSTOM_MINGW_PATH="/home/frog/PKGBUILDS/mostlyportable-gcc/mingw-mostlyportable-9.2.0"
# Example: CUSTOM_GCC_PATH="/home/frog/PKGBUILDS/mostlyportable-gcc/gcc-mostlyportable-9.2.0"
CUSTOM_MINGW_PATH=""
CUSTOM_GCC_PATH=""


## LOCAL PATCHES

# community patches - add patches (separated by a space) of your choice by name from the community-patches dir
# example: _community_patches="asyncpresent.dxvkrevert dxvk-win32-thread-model-support.dxvkpatch"
_community_patches=""

# async pipecompiler - Might trigger some anticheats when enabled (through DXVK_ASYNC=1 env var or `dxvk.useAsync = True` dxvk option), so be careful
_async="false"

# -march=native optimization - Not recommended outside of experimentations - Will break some games
_nativeopt="false"
